.feature {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.feature .feature__icon {
  width: 100%;
}

.feature .feature__icon img {
  max-height: 4rem;
}