.list-icon-content {}

.list-icon-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-icon-content li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.list-icon-content p {
  margin: 0;
}

.list-icon-content i {
  width: 1.7rem;
  margin-top: .7rem;
}

.list-icon-content a {
  color: inherit;
}

.list-icon-content a:hover {
  text-decoration: none;
}