.services {}

.services .services__heading {
  /* text-align: center; */
}

.services .services__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

/* Mobile */
@media (max-width: 767px) {
  .services .services__heading {
    text-align: left;
  }

  .services .services__inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}